<td><%= row.title %></td>
<td><%= row.country %></td>
<td><%= row.original_language %></td>
<td><%= row.publication_date %></td>
<td><%= row.pages_amount %></td>
<td><%= row.age_limit %></td>
<td><%= row.description %></td>
<td><%= row.rating %></td>
